
.journal-graph-card {
    margin-left: 10px;
}

.journal-card-group {
    margin: auto;
    text-align: center;
    max-width: 600px;
}

.outer-journal-card {
    margin-top: 80px;
}

.journal-card {
    /* Text */
    font-weight: 300;
    text-align: left;
    /* Border */
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    /* Spacing */
    padding: 60px;
    max-width: 600px;
    margin: 10px;
    /* Shadows */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.journal-card:hover {
    border-width: 2px;
    border-color: #282c34;
}

.date-journal-card {
    /* Text */
    font-size: 30px;
    color: #646569;
    font-weight: 800;
    /* Spacing */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}

.title-journal-card {
    font-size: 30px;
    color: #646569;
    font-weight: 800;
    margin-bottom: 10px;
}

.btn-flat {
    background-color: #8884d8;
    border: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(241, 241, 241);
    padding: 15px 30px 15px 30px;
    margin-top: 50px;
}

.btn-flat:hover {
    background-color: #807cc7;
    border: black;
    border-width: 2px;
    border-style: solid;
    color: rgb(241, 241, 241);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.activity-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.activity {
    border-style: solid;
    border-radius: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 12px;
    background-color: #8884d8;
    color: white;
}

/* Date Picker */

.DateRangePickerInput__withBorder {
    border-radius: 20px!important;
    padding: 10px!important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.DateInput_input {
    border: 1px solid!important;
    border-radius: 20px!important;
}

.DateInput_input:hover {
    background: #8884d8!important;
    color: white!important;
    font-weight: 300!important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

@media (max-width: 1024px) {
    /* Disable hover style when using medium or less size */
    .DateInput_input:hover {
        background: white!important;
        color: black!important;
        font-weight: 200!important;
    }
}

.DateInput_input__focused {
    background: #8884d8!important;
    color: white!important;
    font-weight: 300!important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.CalendarDay__selected_span {
    background: #6660d4!important;
    border: 1px double white!important;
}

.CalendarDay__selected {
    background: #8884d8!important;
    border: 1px double white!important;
}

.DayPickerKeyboardShortcuts_show__topRight::before {
    border-right: 33px solid #8884d8!important;
}

.DateInput_input__focused {
    border-bottom: 2px solid #8884d8!important;
}

.DayPicker_transitionContainer__vertical {
    border-radius: 20px!important;
    border: 1px solid!important;
    border-color: 8884d8!important;
}

.DateRangePicker_picker {
    border-radius: 20px!important;
    background-color: transparent;
}